body {
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.wrapper {
    display: flex;
    flex-direction: row;
}
.left_bort {

    background-color: #000;
    min-height: 100vh;
    width: 7%;
    order: 1;

}
.right_bort {

    background-color: #000;
    min-height: 100vh;
    width: 7%;
    order: 3;

}
.center_bort {

    background-color: #031300;
    width: 100%;
    min-height: 100vh;
    order: 2;

    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header button {
    position: relative;
    padding: 10px 25px;
    background-color: transparent;
    border: none;
    color: #2fde4d;
    cursor: pointer;
    font-size: 25px;
    
}

.header button:hover {
    color: #32ee51;
}

.header button:active {
    color: #28ca43;
}

button {
    position: relative;
}

.tabcontent {
    color: #28ca43;
    display: none;

}

.tabcontent5 {
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 155px;
    
}
.tabcontent5 button {
    position: relative;
    padding: 10px 5px;
    background-color: transparent;
    border: none;
    color: #2fde4d;
    cursor: pointer;
    font-size: 15px;
}

.tabcontent1 {
    flex-direction: column;
    justify-self: flex-end;
    margin-right: 155px;
   
    
}
.tabcontent1 p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 200px;
    align-self: center;
    font-size: 100px;
}
.tabcontent1 button {
    position: relative;
    width: 150px;
    padding: 10px 5px;
    background-color: transparent;
    border: none;
    color: #2fde4d;
    cursor: pointer;
    font-size: 30px;
    margin-bottom: 20px;
}


.screen {
    position: absolute;
    opacity: 0.05;

}